        body {
            background-color: #121212;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            padding: 20px;
        }

        .logo {
            max-width: 150px;
            height: auto;
        }

        h1 {
            font-size: 36px;
            margin: 20px 0;
            color: #f64a00;
        }

        .download-container {
            width: 100%;
            max-width: 320px;
            padding: 30px;
            background-color: #1e1e1e;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
            text-align: center;
        }

        .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #f64a00;
       } 
      p {
        color: #6bffc6;
      }
      h2 {
        font-size: 20px;
        color: #fec107;
     } 