<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Phoenix XShare is a private upload server of Phoenix Share, a web application that allows users to upload and share files easily and securely. It is a fork of the Phoenix Share repository, with some additional features and improvements.">
    <meta name="author" content="Pheonix">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="Phoenix XShare">
<meta name="application-name" content="Phoenix XShare">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="#121212">
    <link href="
https://cdn.jsdelivr.net/npm/tailwindcss@3.3.3/tailwind.min.css
" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
   <link rel="stylesheet" href="/styles/upload.css">
    <title>Phoenix XShare</title>
</head>
<body>
<div class="container">
    <img class="logo" src="/icons/logo-trans.png" alt="Logo">
    <h1>Phoenix XShare</h1>
    <div class="form-container">
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" style="display: none;">
            <label for="fileInput" class="upload-button">
<i class="bi bi-file-earmark-plus-fill"></i> Choose File
            </label>
            <div id="dragDropArea">
<i class="bi bi-send-arrow-up-fill"></i> Drag and Drop Files Here
            </div>
            <button type="submit" class="upload-button">
<i class="bi bi-cloud-arrow-up-fill"></i> Upload
            </button>
            <div class="footer">
<i class="bi bi-lock-fill"></i> Secured With Encryption
            </div>
        </form>
    <h2 id="downloadLink">Uploaded file will be displayed here.</h2>
</div>
</div>
</body>
  <script src="/scripts/upload.js" type="module"></script>
  <script src="https://storage.googleapis.com/workbox-cdn/releases/6.1.5/workbox-sw.js"></script>
</html>